# Unit 6. 변수(Variable)

In [37]:
# 변수 이름은 이름만 봐도 무슨 변수인지 알 수 있게끔 지어야 함. 두 개의 단어를 섞어 만드는 방식이 유용.
lbs_Weight = 174.5  # snake 표기법: 단어 사이에 언더바를 씀. 뱀이 기어가는 모양(?)이라 snake.
inchHeight = 70     # camel 표기법: 다른 단어가 시작되는 부분을 대문자로 표기. 낙타 등처럼 생겨서 camel.

# 여기서 = 는 같다는 뜻이 아니라 오른쪽 값을 왼쪽 변수에 할당한다는 의미.
# 자료형 신경쓰기~ 문자열은 str(string), 정수는 int(integer)

In [38]:
# tuple unpacking
x, y, z = 10, 20, 30

In [39]:
temp = x
x = y
y = temp # 다른 언어의 경우 이렇게 해야 변수값을 교환할 수 있다.

x, y = y, x # 그러나 파이썬은 이 한 줄로 끝.
x, y

(10, 20)

In [40]:
# 변수를 삭제하고 싶은 경우에는     del 변수
# 빈 변수 만들기.      변수 = None

In [41]:
x = x + y
x

30

In [42]:
x += y  # x = x + y
x

50

In [43]:
sum = 0
for i in range(1,101): # range의 범위는 (시작수, 끝수의 다음수)로 적음.
    sum = sum + i
sum

5050

In [44]:
# 입력한 값을 변수에 저장하기
input('숫자를 입력하세요> ')

''

In [45]:
number = input('정수를 입력하세요> ')

In [46]:
type(number)

str

In [47]:
int(number) # 처음부터 number = int(input('정수를 입력하세요> ')) 로 쓰면 한 번에 가능.

3

### 정수 두 개 입력 받기

In [54]:
s = input('정수 두개 입력> ')

In [55]:
s

'30 40'

In [56]:
s.split()

['30', '40']

In [57]:
list(map(int, s.split()))

# map에는 반복 가능한 모든 객체를 넣을 수 있음. map(f, iterable) f:함수/iterable:반복가능한자료형. 입력받은 자료형의 각 요소를 함수 f가 수행한 결과를 묶어 돌려주는 함수.

[30, 40]

In [58]:
num1, num2 = map(int, s.split())

In [59]:
num1, num2 = map(int, input('정수 두 개 입력>').split())
num1, num2

(30, 40)

In [61]:
n1, n2, n3 = map(int, input('정수 세 개 입력>').split())
n1, n2, n3, n1+n2+n3

(10, 20, 30, 60)

In [1]:
a1, b1, c1, d1 = map(int, input().split())
print(int((a1+b1+c1+d1)/4))

50

In [14]:
q, w, e, r = input().split()
q = int(q)
w = int(w)
e = int(e)
r = int(r)
print((q+w+e+r)/4)

# 파이썬3은 정수끼리 나눠도 결과가 실수로 나옴.
# 그러니 정수로 출력하려면 int로 감싸거나 몫만 나오도록(//) 해야 함.

25.0

In [16]:
a1, b1, c1, d1 = map(int, input().split())
print(int((a1+b1+c1+d1)/4))

25