# 리스트와 튜플 응용
#### 요소 추가
- append: 요소 하나를 추가
- extend: 리스트를 연결하여 확장
- insert: 특정 인덱스에 요소 추가

#### 요소 삭제
- pop: 마지막 요소 또는 특정 인덱스의 요소를 삭제
- remove: 특정 값을 찾아서 삭제

#### 특정 값의 인덱스 구하기
- index

#### 특정 값의 개수 구하기
- count

#### 리스트의 순서 뒤집기
- reverse

## 자료 구조
- stack
    - 후입선출(LIFO, Last-In-First-Out)
    - 활용 예시 : 웹 브라우저 방문기록(뒤로 가기), 역순 문자열 만들기, 실행 취소 등
    - stack.append() / stack.pop()
- queue
    - 선입선출(FIFO, First in first out)
    - queue.insert() / quere.pop()

In [17]:
a = [10, 20, 30]
a.append(40)
a

[10, 20, 30, 40]

In [18]:
a.insert(0, 34) # .insert(인덱스, 요소)
a

[34, 10, 20, 30, 40]

In [19]:
a.append([100, 200])
a

[34, 10, 20, 30, 40, [100, 200]]

In [6]:
b = [1, 2, 3]
b.extend([30, 40])
b # extend 와 append의 차이 확인.
# append를 가장 많이 쓰니 append 주목

[1, 2, 3, 30, 40]

In [20]:
del a[-1]
a

[34, 10, 20, 30, 40]

In [21]:
a.pop() # pop은 리스트의 마지막 요소를 삭제한 뒤 삭제한 요소를 반환한다.

40

In [22]:
a

[34, 10, 20, 30]

In [26]:
a.pop(0) # 인덱스 값을 입력하면 해당 인덱스 요소를 삭제한 뒤 반환.
a

[20, 30]

In [27]:
for index, element in enumerate(a): # enumerate() 반드시 기억할 것. 인덱스와 엘리먼트를 불러낸다.
    print(f'index : {index}, value: {element}')

index : 0, value: 20
index : 1, value: 30

In [28]:
for i in range(len(a)):
    print(f'index: {i}, value: {a[i]}')

index: 0, value: 20
index: 1, value: 30

In [29]:
value = 20
for index, element in enumerate(a):
    if element == value:
        break
print(index)

0

In [30]:
# 특정 값의 개수
a = [10, 20, 30, 15, 20, 40]
a.count(20)

2

In [31]:
a[::-1]

[40, 20, 15, 30, 20, 10]

In [33]:
a.reverse()
a

[10, 20, 30, 15, 20, 40]

In [34]:
a.sort() # 오름차순(ascending order) 정렬.
a

[10, 15, 20, 20, 30, 40]

In [35]:
a.sort(reverse=True) # 내림차순(descending order) 정렬이 됨.
a

[40, 30, 20, 20, 15, 10]

In [36]:
b = [10, 20, 30, 15, 20, 40]
sorted(b) # 리스트 자체를 변화시키지는 않고 정렬한 값을 반환. sort는 메서드, sorted는 함수.

[10, 15, 20, 20, 30, 40]

In [37]:
b

[10, 20, 30, 15, 20, 40]

In [ ]:
a.clear()

## 리스트 복사

In [41]:
b = a # 리스트 요소를 복사하겠다고 이렇게 쓰면 실제 리스트는 하나인데 불러오는 이름만 두 가지가 된다.
b[-1] = 300
a, b

([40, 30, 20, 20, 15, 300], [40, 30, 20, 20, 15, 300])

In [42]:
a is b

True

In [43]:
b = a.copy() # 위와 같이 copy를 사용해 요소만 복사해 와야 함.
b[-1] = 88
b

[40, 30, 20, 20, 15, 88]

In [44]:
a

[40, 30, 20, 20, 15, 300]

#### assignment VS copy VS deepcopy

In [45]:
x = 10
y = x
y = 5
x, y

(10, 5)

In [ ]:
x = [1,2,3]
x = y
y[-1] = 100
x

In [46]:
x = [[1, 2, 3], [4, 5, 6]]
y = x.copy()
y[1][2] = 100
x

[[1, 2, 3], [4, 5, 100]]

In [47]:
import copy
x = [[1,2,3], [4,5,6]]
y = copy.deepcopy(x)
y[1][2] = 100
x

[[1, 2, 3], [4, 5, 6]]

### 반복문과 리스트

In [49]:
a = [38, 21, 53, 62, 19]
for i in a:
    print(i)

38
21
53
62
19

- 인덱스와 요소를 동시에 엑세스

In [50]:
for index, value in enumerate(a):
    print(index, value)

0 38
1 21
2 53
3 62
4 19

In [51]:
fruits = ['사과', '배', '귤', '감']
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 사과
1 배
2 귤
3 감

### 리스트의 최대, 최소값 구하기

In [52]:
a = [38, 21, 53, 62, 19]
small = 10000
for element in a:
    if element < small:
        small = element
print(small)

19

In [53]:
large = -1
for element in a:
    if element > large:
        large = element
print(large)

62

In [54]:
min(a), max(a)

(19, 62)

In [55]:
sum(a)

193

In [61]:
a = [38, 21, 53, 62, 19] # 변수 이름을 기존에 있는 함수와 같지 않도록. ex) sum
sum = 0
for i in a:
    sum += i
sum

193

In [60]:
sum(a)

TypeError: 'int' object is not callable

### 리스트 표현식(Comprehension)

In [62]:
# 1에서 10까지의 제곱수로 된 리스트 작성
square_list = []
for i in range(1, 11):
    square_list.append(i*i)
square_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [63]:
square_list = [i * i for i in range(1, 11)]
square_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [64]:
odd_sq = [i * i for i in range(1,11) if i % 2 == 1]
odd_sq

[1, 9, 25, 49, 81]

In [68]:
# 3의 배수의 제곱수로 된 리스트 만들기 3, 6, 9, 12, 16…의 제곱수
m, n = map(int, input().split())
testlist = []
for i in range(m,n):
    if i % 3 == 0:
        testlist.append(i**2)
print(testlist)

[9, 36, 81, 144]

In [70]:
m, n = map(int, input().split())
testlist = [i ** 2 for i in range(m, n) if i % 3 == 0]
print(testlist) 

# i가 3의 배수라면 m~n까지 반복해서 i를 제곱하는 수를 testlist에 넣는다.

[9, 36, 81, 144]

In [71]:
m, n = map(int, input('시작 끝').split())
res_list = [i * i for i in range(m, n+1) if i % 3 == 0]
print(testlist) 

# 아~ n까지 계산해야 해서 n+1.

[9, 36, 81, 144]

In [73]:
a = [i * k for i in range(2, 10) for k in range(1, 10)] 
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

### 리스트에 map

In [76]:
a = [1.2, 2.3, 3.4, 4.5] # 리스트의 엘리먼트를 정수로 바꾸려고 함.
for i in range(len(a)):
    a[i] = int(a[i])
a

[1, 2, 3, 4]

In [80]:
a = [1.2, 2.3, 3.4, 4.5]
for element in a:
    element = int(element)
    print(element, end='')
print()
a # 해당 식은 a를 수정하지 않음. 엘리먼트만 바꾸므로 리스트 a를 바꾸고 싶을 때는 적절하지 않다.

1234

[1.2, 2.3, 3.4, 4.5]

In [87]:
list(map(int, a))

[1, 2, 3, 4]

In [83]:
def sq(x):
    return x*x

In [84]:
list(map(sq, a))

[1.44, 5.289999999999999, 11.559999999999999, 20.25]

In [85]:
list(map(lambda x: x*x, a)) # lambda는 실전에서 많이 쓰인다고 함. 주말에 추가.

[1.44, 5.289999999999999, 11.559999999999999, 20.25]

#### 튜플은 엘리먼트 변경이 불가하므로 메서드 중 값을 변경하는 것들은 사용할 수 없다.