# Unit 23. 2차원 리스트

In [4]:
a = [[10, 20], [30, 40], [50, 60]]
a
# 리스트 안의 리스트 수가 행, 하위 리스트 안의 엘리먼트 수가 열.

[[10, 20], [30, 40], [50, 60]]

In [7]:
import numpy as np
b = np.arange(10, 61, 10).reshape(3,2)
b

array([[10, 20],
       [30, 40],
       [50, 60]])

In [8]:
import pandas as pd
df = pd.DataFrame(a)
df

    0   1
0  10  20
1  30  40
2  50  60

In [9]:
a = [[10, 20], [30, 40, 70], [50, 60]]
a
# 이런 식으로 열 수가 맞지 않아도 생성됨. 톱니형 리스트(jagged list)

[[10, 20], [30, 40, 70], [50, 60]]

In [15]:
# indexing
a = [[10, 20], [30, 40], [50, 60]]
a[1][1]
# 행렬도 0부터 카운트해서 1번 행의 1번 열의 엘리먼트 반환.

40

In [18]:
a[-1][-1]

60

In [20]:
from pprint import pprint
pprint(a, indent=4, width=20)

[   [10, 20],
    [30, 40],
    [50, 60]]

### 2차원 리스트와 반복문

In [21]:
for element in a:
    print(element)

[10, 20]
[30, 40]
[50, 60]

In [22]:
for sub in a:
    for element in sub:
        print(element)
    print()

10
20

30
40

50
60

In [23]:
len(a), len(a[0])

(3, 2)

In [26]:
for i in range(len(a)):         # 행의 갯수
    for k in range(len(a[i])):  # 열의 갯수
        print(a[i][k], end=' ')
    print()

10 20
30 40
50 60

In [27]:
for row in a:
    for element in row:
        print(element, end=' ')
    print()

10 20
30 40
50 60

### 반복문으로 2차원 리스트 만들기

In [29]:
# 1차원
a = []
for i in range(5):
    a.append(i)
a

list(range(5))

[i for i in range(5)]

[0, 1, 2, 3, 4]

In [31]:
# 2차원 (3 x 4)
two_d = []
for i in range(3):

    for k in range(4):
        two_d.append(4*i+k)
two_d

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [36]:
two_d = []
for i in range(3):
    line = [] # 리스트 하나로는 이차원이 되지 않으니 안쪽 리스트를 만든 후 바깥 리스트에 추가함.
    for k in range(4):
        line.append(4*i+k)
    two_d.append(line)
two_d

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11]]

- 리스트 표현식으로 2차원 리스트 만들기(수업 시간에는 넘어감)