# Unit 30. 위치 인수, 키워드 인수

In [1]:
print(10, 20, sep=', ', end='\n\n')

10, 20

- 위치 인수(positional argument)

In [3]:
def print_3numbers(a, b, c):
    print(a)
    print(b)
    print(c)

In [4]:
print_3numbers(10, 20, 30)

10
20
30

In [6]:
x = [10, 20, 30]
print_3numbers(*x) # list unpacking

10
20
30

- 가변 인수

In [7]:
def print_numbers(*args):
    for arg in args:
        print(arg)

In [8]:
print_numbers(100)

100

In [9]:
print_numbers(10,20,30)

10
20
30

- 고정인수, 가변인수 함께 사용

In [13]:
def print_n_numbers(a, *args): # 고정인수가 반드시 먼저 나와야 함.
    print(a)
    for arg in args:
        print(arg)

In [14]:
print_n_numbers(10)

10

- 키워드인수

In [17]:
def personal_info(name, age, address):
    print('이름:', name)
    print('나이:', age)
    print('주소:', address)

In [18]:
# 위치 인수로 호출
personal_info('홍길동', 25, '제주도 제주시 노형동')

이름: 홍길동
나이: 25
주소: 제주도 제주시 노형동

In [19]:
# 키워드 인수로 호출
personal_info(age=25, address='제주도 제주시 연동', name='홍길동')

이름: 홍길동
나이: 25
주소: 제주도 제주시 연동

- 키워드 인수를 사용하는 가변인수

In [24]:
def personal_info2(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}: {value}')

In [25]:
personal_info2(age=25, address='제주도 제주시 연동', name='홍길동')

age: 25
address: 제주도 제주시 연동
name: 홍길동

- 매개변수에 초깃값 지정

In [28]:
def personal_info3(name, age, address='비공개'):
    print('이름:', name)
    print('나이:', age)
    print('주소:', address)

personal_info3(age=25, address='제주도 제주시 연동', name='홍길동')
 
personal_info3(age=25, name='홍길동')
# 초기값이 지정된 매개변수의 위치
00

이름: 홍길동
나이: 25
주소: 제주도 제주시 연동
이름: 홍길동
나이: 25
주소: 비공개

### 심사문제

In [30]:
korean, english, mathematics, science = map(int, input().split())

def get_min_max_score(*args):
    return min(args), max(args)

def get_average(**kwargs):
    return sum(kwargs.values())/len(kwargs)

min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

낮은 점수: 10.00, 높은 점수: 40.00, 평균 점수: 25.00
낮은 점수: 20.00, 높은 점수: 40.00, 평균 점수: 30.00

In [ ]:
# 풀이

korean, english, mathematics, science = map(int, input().split())

def get_min_max_score(*args):
    return min(args), max(args)

def get_average(**kwargs):
    return sum(kwargs.values())/len(kwargs)

min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))