https://www.youtube.com/watch?v=QEYIVLyGIRI&list=PLMsa_0kAjjrftcNd6xLyY7KUyoc2FBqTP&index=3

In [18]:
seats = [f'A{i}' for i in range(1,21)]
answer = seats[::2]
answer

['A1', 'A3', 'A5', 'A7', 'A9', 'A11', 'A13', 'A15', 'A17', 'A19']

In [19]:
for ans in answer:
    print(ans, end=' ')

A1 A3 A5 A7 A9 A11 A13 A15 A17 A19

풀이

In [20]:
for i in range(1, 21):
    print("A"+str(i), end=' ')

A1 A2 A3 A4 A5 A6 A7 A8 A9 A10 A11 A12 A13 A14 A15 A16 A17 A18 A19 A20

In [21]:
for i in range(1, 21):
    if i % 2 == 1:  # 홀수인 좌석만 찾기
        print("A"+str(i), end=' ')

A1 A3 A5 A7 A9 A11 A13 A15 A17 A19

나는 A1~A20까지 리스트를 만들어서 리스트에서 뽑았는데 아예 간단하게 출력만 하셨네

In [22]:
for i in range(1, 21)[::2]:     # 인덱싱을 여기다 붙일 수도 있어?!
    print("A"+str(i), end=' ')

A1 A3 A5 A7 A9 A11 A13 A15 A17 A19

In [23]:
# 리스트 표현식에도 되나?
seats = [f'A{i}' for i in range(1,21)[::2]]
seats       # 와...이게 되네

['A1', 'A3', 'A5', 'A7', 'A9', 'A11', 'A13', 'A15', 'A17', 'A19']