# 1. 익명함수(lambda funcion)

In [1]:
f = lambda x: x + 10

In [2]:
# 같은 코드
def func(x):
    return x + 10

In [3]:
f(5), func(5)

(15, 15)

In [4]:
# 람다는 아래과 같이 map, apply 등에 자주 이용됨

a = [1, 3, 5, 7, 9]
list(map(func, a))

[11, 13, 15, 17, 19]

In [5]:
list(map(f, a)) # map(함수, 리스트)

[11, 13, 15, 17, 19]

In [6]:
list(map(lambda x: x + 10, a))

[11, 13, 15, 17, 19]

- 1에서 10까지 홀수 제곱의 리스트

In [10]:
sq_odd_list = []
for i in range(1,11):
    if i % 2 == 1:
        sq_odd_list.append(i*i)
sq_odd_list

[1, 9, 25, 49, 81]

In [9]:
# 위와 같은 코드를 람다 함수를 쓰면 다음과 같이 쓸 수 있다.
odd_list = list(range(1,11,2))
sq_odd_list1 = list(map(lambda x: x * x, odd_list))
sq_odd_list1

[1, 9, 25, 49, 81]

In [11]:
# 같은 코드를 리스트 표현식으로도 쓸 수 있다.
sq_odd_list2 = [i * i for i in range(1,11) if i % 2 == 1]
sq_odd_list2

[1, 9, 25, 49, 81]

In [13]:
# filter(함수, list) > map은 값을 반환하지만 filter는 참, 거짓을 반환.

filtered_list = list(filter(lambda x: x >= 3 and x <=6, range(1,11)))
filtered_list

[3, 4, 5, 6]

In [14]:
list(filter(lambda x: x >= 3 and x <=6, range(1,11)))

[3, 4, 5, 6]

In [16]:
[i for i in range(1, 11) if i >= 3 and i <= 6]

[3, 4, 5, 6]

In [17]:
[i for i in range(1, 11) if 3 <= i <= 6]

[3, 4, 5, 6]

- 1에서 10까지 홀수면 string으로 변환, 짝수면 그대로

In [20]:
s = str(i) if i % 2 == 1 else i

# 람다함수 이용
list(map(lambda x: str(x) if x % 2 == 1 else x, range(1, 11)))

['1', 2, '3', 4, '5', 6, '7', 8, '9', 10]

In [21]:
# 일반함수
def det(x):
    if x % 2 == 1:
        return str(x)
    else:
        return x

In [22]:
def det(x):
    if x % 2 == 1:
        return str(x)
    return x
list(map(det, range(1, 11)))

['1', 2, '3', 4, '5', 6, '7', 8, '9', 10]

In [23]:
def det2(x):
    return str(x) if x % 2 == 1 else x
list(map(det2, range(1,11)))

['1', 2, '3', 4, '5', 6, '7', 8, '9', 10]

- 예제 조금 더 찾아봐야겠다. 람다함수, 삼항연산자

In [24]:
# 리스트 표현식
[str(i) if i % 2 == 1 else i for i in range(1,11)]

['1', 2, '3', 4, '5', 6, '7', 8, '9', 10]

In [25]:
int('123,000'.replace(',',''))

123000

In [26]:
price_str_list = ['142,000', '2,365,000', '16,300']
price_list = list(map(lambda x: int(x.replace(',', '')), price_str_list))
price_list

[142000, 2365000, 16300]

In [ ]:
[int(x.replace(',','')) for x in price_str_list]

[int(item.replace(',','')) for item in price_str_list] # 바꾸고 싶은 어절(?) 더블클릭 후 ctrl+d 하면 같은 내용 동시 편집 가능

## 2. 예외 처리(Unit 38)

In [27]:
def ten_div(x):
    return 10 / x

In [28]:
ten_div(2)

5.0

In [29]:
ten_div(0)

ZeroDivisionError: division by zero

In [30]:
try:
    ten_div(0)
except:
    print('Error 발생')

Error 발생

In [32]:
try:
    a = [1, 2, 3]
    print(a(4))
except Exception as e:
    print(e)

'list' object is not callable

In [36]:
x = int(input())
try:
    ten_div(x)
except Exception as e: # 예외가 발생한 경우
    print(e)
else: # 예외가 발생하지 않은 경우
    print('Error가 발생하지 않았습니다.')
finally: # 예외 발생과 무관하게 작동
    print('try 구문이 모두 끝났습니다.')

division by zero
try 구문이 모두 끝났습니다.

## 3. 클래스와 객체
- 클래스 이름은 대문자로 시작해야 한다(파이썬은 무관함)

In [44]:
class Calculator:
    def __init__(self, x, y): # init은 객체의 생성자 함수
        self.x = x
        self.y = y
    def add(self):
        return self.x  + self.y
    def sub(self):
        return self.x - self.y
    def mul(self):
        return self.x * self.y
    def div(self):
        try:
            result = self.x / self.y
        except:
            result = '0으로 나눌 수 없음'
        return result

In [45]:
calc = Calculator(10, 5) # calc 는 객체, Calculator은

In [46]:
# 속성
calc.x, calc.y

(10, 5)

In [48]:
# 메소드(method)
calc.add(), calc.sub(), calc.mul(), calc.div()

(15, 5, 50, 2.0)

In [50]:
calc.y = 0
calc.div()

'0으로 나눌 수 없음'

- unit 17 심사문제 객체지향 방식으로 해결

In [59]:
class Tmoney:
    def __init__(self, balance):
        self.balance = balance
        self.__fare = 1350
    def pay(self):
        if self.balance < self.__fare:
            return('잔액 부족')
        self.balance -= self.__fare
        return(f'남은 잔액은 {self.balance:,d}원입니다.')
    def get_fare(self):
        return self.__fare
    def set_fare(self, fare):
        self.__fare = fare

In [60]:
card = Tmoney(5000)
for i in range(4):
    print(card.pay())

남은 잔액은 3,650원입니다.
남은 잔액은 2,300원입니다.
남은 잔액은 950원입니다.
잔액 부족

In [61]:
card = Tmoney(10000)
card.__fare

AttributeError: 'Tmoney' object has no attribute '__fare'

In [62]:
card.get_fare()

1350

- 인공지능은 학습방법에는 지도학습, 비지도학습, 강화학습이 있다.
    - 지도학습은 결과값을 주고, 비지도학습은 결과값을 주지 않음.
        - 지도학습: 분류(classification), 회귀(regression). 이산적인 값으로 결과가 나온다면 분류, 연속적인 값이라면 회귀로 학습.