# Unit 10. 리스트와 튜플
- 여러개의 값을 하나의 이름으로 총칭하고 싶을 때(변수 하나에 여러 개의 값을 저장)


### 리스트

In [2]:
a = [23, 56, 76, 34, 25] # 각 값을 지닌 요소를 엘리먼트(element)라고 부른다.
print(a)

[23, 56, 76, 34, 25]

- 여러 데이터 타입을 혼재해서 리스트를 만들 수도 있다. 단 계산속도가 비교적 느림.

In [3]:
person = ['james', 25, 175.3, True]
print(person)

['james', 25, 175.3, True]

- 빈 리스트 만들기

In [ ]:
a = []
a = list() # 두 가지 방법 중 한 가지 사용

- range : 연속된 숫자를 생성함.

In [4]:
list(range(10)) # 생성할 개수만 지정. 0부터 지정한 개수만큼 생성.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list(range(5,12)) # 시작 숫자와 끝 숫자를 지정할 수 있다.

[5, 6, 7, 8, 9, 10, 11]

In [7]:
list(range(1,10,2)) # (시작숫자, 생성할 개수, 증가폭)

[1, 3, 5, 7, 9]

In [8]:
list(range(10,0,-1)) # 증가폭을 마이너스로 설정하는 경우

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [18]:
list(range(10,20,-1)) # 해당하는 값이 없는 경우 빈 리스트가 됨.

[]

### 튜플
- 한 번 값을 지정하면 변하지 않는다. 삭제·수정 불가.

In [19]:
a = (38, 21, 53, 62, 19) 
a = 38, 21, 53 # 괄호가 없더라도 튜플.
a = (1,) # 엘리먼트가 하나인 튜플은 값 뒤에 반드시 콤마(,)가 필요.
a

(1,)

In [20]:
tuple(range(5))0

(0, 1, 2, 3, 4)

### 튜플을 리스트로, 리스트를 튜플로 변환

In [21]:
list((1,2,3)), tuple([1,2,3]) # 튜플을 리스트로 바꿀 때는 꼭 괄호로 감싸줘야 함.

([1, 2, 3], (1, 2, 3))

In [22]:
list('hello') # 문자열을 리스트나 튜플로 만들면 글자 하나가 요소 하나가 됨.

['h', 'e', 'l', 'l', 'o']

- Unpacking

In [23]:
a, b, c = [1, 2, 3]
x, y, z = 4, 5, 6